.list-episode{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  justify-content: center;
}

.list-episode li{
  margin:5px;
  padding: 16%;
  background-color: yellow;
  width: 70px;
  text-align: center;
  color: black;
}

.list-episode li:hover {
  opacity: 0.6;
}
