
<header class="header" data-header>
    <div class="container">

        <div class="overlay" data-overlay></div>

        <a href="./index.html" class="logo">
            <img src="./assets/images/logo.svg" alt="Filmlane logo">
        </a>

        <div class="header-actions">
          <input type="text" placeholder="Tìm kiếm..." name="searchText" [(ngModel)]="searchText">
            <button class="search-btn">
              <a [routerLink]="['movies/searchMovie/', searchText]" style="color: white;">
                <ion-icon class="fs" name="search-outline" (click)="sendNameMovie()"></ion-icon>
              </a>
            </button>

            <button class="btn btn-primary">Đăng Nhập</button>

        </div>

        <button class="menu-open-btn" data-menu-open-btn>
            <ion-icon name="reorder-two"></ion-icon>
        </button>

        <nav class="navbar" data-navbar>

            <div class="navbar-top">

                <a href="./index.html" class="logo">
                    <img src="./assets/images/logo.svg" alt="Filmlane logo">
                </a>

                <button class="menu-close-btn" data-menu-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                </button>

            </div>

            <ul class="navbar-list">

                <li>
                    <a routerLink="/movies" routerLinkActive="is-active" class="navbar-link">Trang Chủ</a>
                </li>

                <li *ngFor="let item of lstCategory">
                    <a [routerLink]="['/movies/moviesCategories/', item.idCategory]"  class="navbar-link">{{item.nameCategory}}</a>
                </li>


                <li>
                    <a class="navbar-link">Thể Loại</a>
                    <div class="mega-box">
                      <div class="content">
                          <div class="row">
                            <ul class="mega-links">
                              <li *ngFor="let item of lstGenre">
                                <a [routerLink]="['/movies/moviesGenres/', item.idGenre]" class="navbar-link">{{item.nameGenre}}</a>
                            </li>
                            </ul>
                          </div>
                      </div>
                    </div>
                </li>



                <li>
                  <a class="navbar-link">Quốc gia</a>
                  <div class="mega-box">
                    <div class="content">
                        <div class="row">
                          <ul class="mega-links">
                            <li *ngFor="let item of lstCountry">
                              <a [routerLink]="['/movies/moviesCountries/', item.idCountry]" class="navbar-link">{{item.nameCountry}}</a>
                          </li>
                          </ul>
                        </div>
                    </div>
                  </div>
              </li>

                <!-- <li>
                    <a href="#" class="navbar-link">Pricing</a>
                </li> -->

            </ul>

            <ul class="navbar-social-list">

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-pinterest"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                </li>

            </ul>

        </nav>

    </div>
</header>
