<section class="hero">
    <div class="container">

        <div class="hero-content">

            <p class="hero-subtitle">Phim Mới</p>

            <h1 class="h1 hero-title">
              Phim<strong> không giới hạn</strong>, chương trình truyền hình, v.v.
            </h1>
        </div>

    </div>
</section>

<section class="upcoming">
    <div class="container" ngFor="let item of listMovie">

        <div class="flex-wrapper">

            <div class="title-wrapper">

                <h2 class="h2 section-title">Phim Vừa Được Cập Nhật</h2>
            </div>

            <ul class="filter-list" ngFor="let item of lstGenres">
                <li *ngFor="let item of lstGenres">
                    <button class="filter-btn">{{item.nameGenre}}</button>
                </li>
            </ul>

        </div>

        <ul class="movies-list  has-scrollbar">

            <li *ngFor="let item of listMovie ">
                <div class="movie-card">

                    <a [routerLink]="['/movies/moviedetail/', item.idMovie]">
                        <figure class="card-banner">
                            <img src="{{item.images}}">
                        </figure>
                    </a>

                    <div class="title-wrapper">
                        <a [routerLink]="['/moviedetail', item.idMovie]">
                            <h3 class="card-title">{{item.nameMovie}}</h3>
                        </a>

                        <time>{{item.releaseDate|date:"dd/MM/yyyy HH:mm" | slice: 6:10}}</time>
                    </div>

                    <div class="card-meta">
                        <div class="badge badge-outline">{{item.movieStatus}}</div>

                        <div class="duration">
                            <ion-icon name="time-outline"></ion-icon>

                            <time datetime="PT137M">{{item.showtimes}}</time>
                        </div>

                        <div class="rating">
                            <ion-icon name="star"></ion-icon>

                            <data>8.5</data>
                        </div>
                    </div>

                </div>
            </li>
        </ul>

    </div>
</section>

<!--
        - #TOP RATED
      -->

<section class="top-rated">
    <div class="container" >
        <h2 class="h2 section-title">Phim Được Đánh Giá Cao</h2>

        <!-- <ul class="filter-list">

            <li>
                <button class="filter-btn">Movies</button>
            </li>

            <li>
                <button class="filter-btn">TV Shows</button>
            </li>

            <li>
                <button class="filter-btn">Documentary</button>
            </li>

            <li>
                <button class="filter-btn">Sports</button>
            </li>

        </ul> -->

        <ul class="movies-list">

            <li *ngFor="let item of lstTrenMovies">
                <div class="movie-card">

                    <a [routerLink]="['/movies/moviedetail/', item.idMovie]">
                        <figure class="card-banner">
                            <img src="{{item.images}}" >
                        </figure>
                    </a>

                    <div class="title-wrapper">
                        <a [routerLink]="['/movies/moviedetail/', item.idMovie]">
                            <h3 class="card-title">{{item.nameMovie}}</h3>
                        </a>

                        <time datetime="2022">{{item.releaseDate|date:"dd/MM/yyyy HH:mm" | slice: 6:10}}</time>
                    </div>

                    <div class="card-meta">
                        <div class="badge badge-outline">2K</div>

                        <div class="duration">
                            <ion-icon name="time-outline"></ion-icon>

                            <time datetime="PT122M">{{item.showtimes}}</time>
                        </div>

                        <div class="rating">
                            <ion-icon name="star"></ion-icon>

                            <data>7.8</data>
                        </div>
                    </div>

                </div>
            </li>
        </ul>

    </div>
</section>





<!--
        - #TV SERIES
      -->

<section class="tv-series">
    <div class="container">

        <p class="section-subtitle">Phim Bộ Hay Nhất</p>

        <h2 class="h2 section-title">Phim Truyền Hình Hay Nhất Thế Giới</h2>

        <ul class="movies-list">

            <li *ngFor="let item of lstSeriesMovies">
                <div class="movie-card">

                    <a [routerLink]="['/movies/moviedetail/', item.idMovie]">
                        <figure class="card-banner">
                            <img src="{{item.images}}">
                        </figure>
                    </a>

                    <div class="title-wrapper">
                        <a [routerLink]="['/movies/moviedetail/', item.idMovie]">
                            <h3 class="card-title">{{item.nameMovie}}</h3>
                        </a>

                        <time >{{item.releaseDate|date:"dd/MM/yyyy HH:mm" | slice: 6:10}}</time>
                    </div>

                    <div class="card-meta">
                        <div class="badge badge-outline">2K</div>

                        <div class="duration">
                            <ion-icon name="time-outline"></ion-icon>

                            <time datetime="PT47M">{{item.showtimes}}</time>
                        </div>

                        <div class="rating">
                            <ion-icon name="star"></ion-icon>

                            <data>8.6</data>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>





<!--
        - #CTA
      -->

<section class="cta">
    <div class="container">

        <div class="title-wrapper">
            <h2 class="cta-title">Trial start first 30 days.</h2>

            <p class="cta-text">
                Enter your email to create or restart your membership.
            </p>
        </div>

        <form action="" class="cta-form">
            <input type="email" name="email" required placeholder="Enter your email" class="email-field">

            <button type="submit" class="cta-form-btn">Get started</button>
        </form>

    </div>
</section>
